body,html,{
  height:100%;
  margin:0;

}
.hero-image {
  background-image: url(../img/nasa-background.jpg);
  height: 450px;
  width: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: sans-serif;
  font-size: 60;
}

#lowerinfo {
    display: flex;
    background-color: lightgrey;
    height: 324px;
    width: 850px;
}

.lowerinfo div {
  columns: 270px 3;
  column-gap: 20px;
  height: 324px;
}

.social {

}

.office {

}

.contact {

}
