html,body,div,span,object,iframe,h1,h2,p,blockquote {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
body,html,{
  height:100%;
  margin:0;

}
.hero-image {
  background-image: url(/users/adamwells1/downloads/crossfit.jpg);
  height: 450px;
  width: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: sans-serif;
  font-size: 60;
}

div h2 {
  background-color: orange !important;
}

html {
  background-color: lightgrey;
  font-size: 12px; /* px means 'pixels': the base font size is now 12 pixels high  */
  font-family: sans-serif;
}
body {
  width: 850px;
  margin: 10 auto;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 3px solid orange;
}

h2 {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}

a {
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  color: lightgrey;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}

ul {
  width: 850px;
  height: 50px;
  overflow: scroll;
  margin: 5 auto;
  padding: 5px 5px 5px 5px;
}
img {
  float: center;
  padding: 5px 5px 5px 5px;
    max-width: 100%;
    max-height: 100%;
}
h2 {
  clear: both;
}

.parent {
  width: 95%;
  margin: auto;
  background-color: grey;
  padding: 10px 10px 10px 10px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.parent div {
  width: 20%;
  height: 200px;
  float: center;
  padding: 5px 5px 5px 5px;
  color: white;
  overflow: scroll;
}
