body,html,{
  height:100%;
  margin:0;
}
/*main image at top of page*/
.hero-image {
  background-image: url(/users/adamwells1/downloads/crossfit.jpg);
/*image dimensions*/
  height: 450px;
  width: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*image will stay at top of page*/
  position: relative;
}

/*main text imbedded within image at top of page*/
.hero-text {
  text-align: center;
  /*anchors text within image*/
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: sans-serif;
  font-size: 60;
}
/*subheading & footer background*/
div h2 {
  background-color: orange !important;
}

html {
  background-color: grey;
  font-size: 12px; /* px means 'pixels': the base font size is now 12 pixels high  */
  font-family: sans-serif;
}

/*main page settings*/
body {
  width: 850px;
  margin: 10 auto;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 3px solid orange;
}

/*subheading & footer settings*/
h2 {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}

/*Movement Category settings*/
div h3 {
  background-color: grey !important;
}

/*Movement Category settings*/
h3 {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}

/*links & email settings*/
a {
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  color: orange;
  text-align: right;
  line-height: .5;
  letter-spacing: 1px;
}

/*Movements settings*/
ul {
  width: 850px;
  height: 30px;
  overflow: scroll;
  margin: 5 auto;
  line-height: 1;
  padding: 5px 5px 5px 5px;
}
/*Footer image settings*/
img {
  float: right;
  padding: 5px 5px 5px 5px;
    max-width: 100%;
    max-height: 100%;
}

h2 {
  clear: both;
}

/*Box model settings for Movements*/
.parent {
  width: 95%;
  margin: auto;
  background-color: grey;
  padding: 10px 10px 10px 10px;
}

/*Box model settings for Movement Categories*/
.parent2 {
  width: 95%;
  margin: auto;
  background-color: grey;
  padding: 10px 10px 10px 10px;
}

/*Box model settings for Movement Categories*/
.parent2 div {
  width: 30%;
  height: 35px;
  float: right;
  padding: 5px 5px 0px 5px;
  color: white;
}
  /* allows box to contain items */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*Box model settings for Movements*/
.parent div {
  width: 30%;
  height: 200px;
  float: right;
  padding: 5px 5px 5px 5px;
  color: white;
  /*Allows scroll to see full list*/
  overflow: scroll;
}
