html,body,div,span,object,iframe,h1,h2,p,blockquote {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

html {
  background-color: lightgrey;
  font-size: 12px; /* px means 'pixels': the base font size is now 12 pixels high  */
  font-family: sans-serif;
}
body {
  width: 560px;
  margin: 10 auto;
  background-color: white;
  padding: 0 10px 10px 10px;
  border: 3px solid black;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: black;
  width: 500px;
  border: 3px solid green;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
h2 {
  font-size: 16px;
  color: green;
  line-height: 1;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}
